# Multi words variable names

In [69]:
# Camel case
myVariableName = "Eren"

# Pascal case
MyVariableName = "Mikasa"

# Snake case
my_vairable_name = "Levi"

# Assigning multiple values

In [70]:
# Many values to multiple variables.

name, age = "Eren yeager", 21

In [71]:
# One value to multiple variables.
eren=levi=mikasa ="Attack on titan"

# Unpack a collection

In [72]:
characters = ["hinata","mikasa","yor forger"]

naruto,attackOnTitan,spy_x_family = characters

# Built-in Data Types

- Text type = str
- Numeric type = int, float, complex
- Sequence type = list, tuple, range
- Mapping type = dict, set
- Boolean type = True, False
- Binary type = bytes,bytearray,memoryview
- None type = None

# Setting the data type

In [55]:
name = "Obito"                                             # str
roll_number = 111                                          # int
marks = 89.3                                               # float
complex_ = 1+3j                                            # complex
subordinate = ["Rin","Kakashi"]                            # list  
teachers = ("Minato","Madara")                             # tuple
ranking = {1:"Madara",2:"Naruto",3:"Obito"}                # dict
genius= {"Itachi","Minato","Orrochimaru"}                  # set
hacker = False                                             # bool
heart = None                                               # None

# Getting the data type

In [56]:
love = "Mikasa"
type(love)   # str

str

# Booleans

In [57]:
# Most values are True
bool("a")
bool([3,5,8])
bool({34,"eren",2})
bool(("Tatakae",1))
bool(76.3)

# Empty valuse are evaluated False
bool(None)
bool(0)
bool("")
bool({})
bool([])
bool(())

False

# Bits and Bytes

In [58]:
# number -> binary
x=2 
print(bin(x))
print(format(x,"08b"))

# char -> number 
print(ord("A"))
print(ord("a"))

# number -> char
print(chr(65))
print(chr(97))

0b10
00000010
65
97
A
a

# Bitwise Operators

In [59]:
a=2 # 0010
s=8 # 1000

# Bitwise AND : sets each bit to 1 if both are  1
print(f"a & s = {a & s}") # 0010 & 1000 = 0000 => 0
# Bitwise OR : sets each bit to 1 if one of bits is 1
print(f"a | s = {a | s}") # 0010 | 1000 = 1010 => 10
# Bitwise XOR : sets each bit to 1 if either is 1 or are the bits different?
print(f"a ^ s = {a ^ s}") # 0010 ^ 1000 = 1010 => 10
# Bitwise NOT : inverts all the bits
print(f"~a = {~a}") # -a -1 = -2-1 => -3
print(f"~s = {~s}") # -s -1 = -8-1 => -9

# Bitwise Right shift : shifts each bit to the right
print(f"a >> 1 = { a >> 1}") # 0010 >> 1 = 0001 => 1
print(f"s >> 1 = { s >> 1}") # 1000 >> 1 = 0100 => 4
# Bitwise Left shift : shift each bit to the left
print(f"a << 1 = {a << 1}") # 0010 << 1 = 0100 => 4
print(f"s << 1 = {s << 1}") # 1000 << 1 = 10000 => 16

a & s = 0
a | s = 10
a ^ s = 10
~a = -3
~s = -9
a >> 1 = 1
s >> 1 = 4
a << 1 = 4
s << 1 = 16

# Change a list of items in a list

In [60]:
# no of new values = old values
anime_mc = ["Naruto","Eren","Light yagami","Saitama","Luffy"]
anime_mc[2:5] = ["Jinwoo","Goku","Kafka"]

print(anime_mc)

['Naruto', 'Eren', 'Jinwoo', 'Goku', 'Kafka']

In [61]:
# no of new values > old values
anime_mc = ["Naruto","Eren","Light yagami","Saitama","Luffy"]
anime_mc[3:5] = ["Goku,","Jinwoo","Kafka"]
print(anime_mc)

['Naruto', 'Eren', 'Light yagami', 'Goku,', 'Jinwoo', 'Kafka']

In [62]:
# no of new values < old values
anime_mc = ["Naruto", "Eren","Light yagami","Saitama","Luffy"]
anime_mc[2:4] = ["Jinwoo","DR Tenma"]
print(anime_mc)

['Naruto', 'Eren', 'Jinwoo', 'DR Tenma', 'Luffy']

# Insert Items
- insert() = inserts the item at the specified index without replacing the values.
- append() = inserts the item at the end of the list.
- extend() = inserts any iterable object ( tuple,set,dictionary....).

In [63]:
# Inserting a new element at index 2
anime = ["Naruto","Attack On Titan","Solo leveling","Kaiju No 8"]
anime.insert(2,"Sakamoto Days")

print(anime)

['Naruto', 'Attack On Titan', 'Sakamoto Days', 'Solo leveling', 'Kaiju No 8']

In [64]:
# Appending a new element
anime = ["Naruto", "Attack On Titan","Solo leveling","Kaiju No 8"]
anime.append("Monster")
print(anime)

# Appending a iterable 
love_anime = ["Silent Voice","Suzume"]
anime.append(love_anime)
print(anime)

['Naruto', 'Attack On Titan', 'Solo leveling', 'Kaiju No 8', 'Monster']
['Naruto', 'Attack On Titan', 'Solo leveling', 'Kaiju No 8', 'Monster', ['Silent Voice', 'Suzume']]

In [65]:
# Inserting elements from other iterables..
anime = ["Naruto", "Attack On Titan", "Solo leveling","Kaiju No 8"]
love_anime = ["Silent Voice", "Suzume"]

anime.extend(love_anime)

print(anime)

['Naruto', 'Attack On Titan', 'Solo leveling', 'Kaiju No 8', 'Silent Voice', 'Suzume']

# Remove Items
- remove() = Removes the first occuring of the value specified.
- pop() = Removes and returns the value at the specified index.
- del keyword = Removes the value at the specified index. if index not mentioned then deletes the whole  list.
- clear() = Empties the list,but list still remains without any values.

In [66]:
# Removing black widow from the avengers list
avengers = ["Thor","Iron Man","Captain America","Black Widow","Hulk"]
avengers.remove("Black Widow")
print(avengers)

['Thor', 'Iron Man', 'Captain America', 'Hulk']

In [67]:
# Removing black widow using pop()
avengers = ["Thor", "Iron Man","Captain America","Black Widow","Hulk"]
dead= avengers.pop(3)
print(avengers)
print(dead)

avengers.pop()
print(avengers)

['Thor', 'Iron Man', 'Captain America', 'Hulk']
Black Widow
['Thor', 'Iron Man', 'Captain America']

In [73]:
# Deleting black widow using del keyword
avengers = ["Thor", "Iron Man","Captain America","Black Widow","Hulk"]
del avengers[3]
print(avengers)

del avengers
# print(avengers)  # throws NameError

['Thor', 'Iron Man', 'Captain America', 'Hulk']

In [74]:
# Making the list empty
avengers = ["Thor", "Iron Man","Captain America","Black Widow","Hulk"]
avengers.clear()
print(avengers)

[]

# List comprehension

In [75]:
Personality_types =["Alpha","Beta","Sigma","Omega"]

[i for i in  Personality_types]

['Alpha', 'Beta', 'Sigma', 'Omega']

In [76]:
Personality_types = ["Alpha","Beta","Sigma","Omega"]
new = [i for i in Personality_types if "g" in i ]  # creates a list having the elements which has g in it.
print(new)

['Sigma', 'Omega']

# The syntax

In [77]:
# new=[expression for item in iterable if condition==True]

new = [i for i in range(11) if i%2==0] # returns values which are divisible by 2.

print(new)

[0, 2, 4, 6, 8, 10]

# Sorting a list

In [78]:
# Ascending order
anime = ["Naruto","Suzume","Silent Voice","Death Note","Attack On Titan"]
anime.sort()
print(anime)

['Attack On Titan', 'Death Note', 'Naruto', 'Silent Voice', 'Suzume']

In [79]:
# Descending order
anime.sort(reverse=True)
print(anime)

['Suzume', 'Silent Voice', 'Naruto', 'Death Note', 'Attack On Titan']

In [80]:
# Customizing the sort function
marks = [84,79,78,99,96,91]

# In this the sort function will sort according to the number which is divisible by 2
def new(n):
    return n%2
marks.sort(key=new)
print(marks)

[84, 78, 96, 79, 99, 91]

In [81]:
# case insensitive sorting

anime=["attack on titan","Death Note","Solo leveling","Chainsawman"] # By-default upper case is sorted first.
anime.sort()
print(anime)

anime.sort(key=str.lower)
print(anime)

['Chainsawman', 'Death Note', 'Solo leveling', 'attack on titan']
['attack on titan', 'Chainsawman', 'Death Note', 'Solo leveling']

# Copy Lists
- copy() = built-in method to copy a list 
- list() = list constructor can also be used to copy a list.
- [ : ] = slicing of the whole list and storing it into new variable also copies the list.

In [82]:
# using copy()
anime_char=["Naruto","Eren","Light"]

fav_char = anime_char.copy()
print(fav_char)

['Naruto', 'Eren', 'Light']

In [83]:
# using list() constructor
anime_char = ["Naruto","Eren","Light"]

strong_chars=list(anime_char)

print(strong_chars)

['Naruto', 'Eren', 'Light']

In [84]:
# Using list slicing
anime_char = ["Naruto","Eren","Light"]

mine_fav = anime_char[:]

print(mine_fav)

['Naruto', 'Eren', 'Light']

# Join List
- list1 + list2 = using '+' characters.
- extend() = adding elements form another list to the current list.
- append() = we can work around with this method.

In [85]:
# Using '+' operator
anime_boys = ["nagi","light","naruto","eren"]
anime_girls = ["erika","misa","hinata","mikasa"]

anime_chars = anime_boys + anime_girls
print(anime_chars)

['nagi', 'light', 'naruto', 'eren', 'erika', 'misa', 'hinata', 'mikasa']

In [86]:
# Using extend() 
anime_boys = ["nagi", "light", "naruto", "eren"]
anime_girls = ["erika", "misa", "hinata", "mikasa"]

anime_boys.extend(anime_girls)
print(anime_boys)

['nagi', 'light', 'naruto', 'eren', 'erika', 'misa', 'hinata', 'mikasa']

In [87]:
# Using append()
anime_boys = ["nagi", "light", "naruto", "eren"]
anime_girls = ["erika", "misa","hinata","mikasa"]

for i in anime_boys:
    anime_girls.append(i)

print(anime_girls)

['erika', 'misa', 'hinata', 'mikasa', 'nagi', 'light', 'naruto', 'eren']

# Unpacking tuples

In [88]:
anime = (1,3,2)

naruto,obito,madara = anime
print(naruto)
print(madara)
print(obito)

1
2
3

## Note: 
- The number of variables should match the number of values in the tuple.
- If not then must use an '*' to store the remaining values in a list.

In [89]:
characters =("Madara","Light","Dr Tenma","Mushashi","shin","uzuki")

naruto,death_note,monster,vagabond,*windbreaker = characters
print(windbreaker)

['shin', 'uzuki']

In [90]:
### If '*' is added to another variable name than the last,
### python will assign value to the variable until the number of values left,
### matches the number of variables left.

characters = ("Madara", "Light", "Dr Tenma", "Mushashi", "shin", "uzuki","sakamoto","Devil may cry")

naruto, death_note, monster, vagabond, *windbreaker,anime = characters
print(windbreaker)
print(anime)

# If only one value but two variables to unpack
new = ("spiderman",)
*char,hero=new
print(char)
print(hero)

['shin', 'uzuki', 'sakamoto']
Devil may cry
[]
spiderman

# Sets
A set is a collection which is unordered,unchangeable and unindexed
, in which the items are unchangeable but we can add or remove items..

In [91]:
# Example of a set.
aot = {"Reiner","Berthold","Eren","Armin"}
print(aot)

{'Armin', 'Eren', 'Berthold', 'Reiner'}

# Duplicates are not allowed

sets ignores the duplicate values.

In [92]:
anime ={1,"cool","amazing","best","cool"}
print(anime)

{1, 'amazing', 'cool', 'best'}

# Note :
True & 1 as well as False & 0 are considered same value, so they are treated as duplicates

# Get the length of the set

In [93]:
print(len(aot))

4

# Creating a set using set() constuctor.

In [94]:
jjk = set({"gojo"})

print(jjk)

{'gojo'}

# Access set items

In [95]:
# We can access set items by iterating over them...
anime = {"jjk","aot","opm",}
for x in anime:
    print(x)

opm
jjk
aot

# Change items
- add() = used to add a new item in the set 
- update() = add any iterable like set,list,tuple....
- discard() = used to remove an item, if item not found raises NameError.
- remove() = used to remove an item, doesn't raise any error if item not found.
- clear() = to remove all the items of the list, but the set still exists without any item.
- del keyword = deletes the set completely.
- pop() = this removes a random item from the set.

In [96]:
akatsuki ={"nagato","yahiko","konan","obito","kisame"}

new_members = { "itachi","diedra"}

# adding values using add()
akatsuki.add("orrochimaru")
print(akatsuki)

# adding values using update()
akatsuki.update(new_members)
print(akatsuki)

# removing value using discard()
akatsuki.discard("orrochimaru")
print(akatsuki)

# removing value using remove()
akatsuki.remove("diedra")
print(akatsuki)

# using pop()
print(akatsuki.pop())
print(akatsuki)

# clearing the whole set()
akatsuki.clear()
print(akatsuki)

akatsuki.update("obito","pain","konan")
del akatsuki

# print(akatsuki) this will raise a NameError

{'obito', 'yahiko', 'nagato', 'orrochimaru', 'konan', 'kisame'}
{'obito', 'diedra', 'yahiko', 'nagato', 'orrochimaru', 'itachi', 'konan', 'kisame'}
{'obito', 'diedra', 'yahiko', 'nagato', 'itachi', 'konan', 'kisame'}
{'obito', 'yahiko', 'nagato', 'itachi', 'konan', 'kisame'}
obito
{'yahiko', 'nagato', 'itachi', 'konan', 'kisame'}
set()

# Set Special Operations
- union() =  returns a new set with al items from both the sets.
- update() = inserts all items from one set into another.
- copy() = creates a copy of the set.
- intersection() = returns a new set with only the duplicate values.
- intersection_update() = updates the value to intersection values.
- difference() = returns a new set that will contain only the items from the first set and that are not  
present in the other set.
- difference_update() = updates the value of the first set with the difference
- symmetric_difference() = returns a set which keeps only the values that are not present in both sets.
- symmetric difference_update() = updates the set with symmetric different values.
- isdisjoint() = returns whether two sets have a intersection or not.
- issubset() = returns whether another set contains this set or not.
- issuperset() = returns whether this set contains another set or not.

In [97]:
# union() 
set1= {"Eren","Mikasa","Hinata","Naruto","Kira"}
set2 = {"Bleach","One Piece","Naruto"}
set3={"Attack on titan","Levi","Reiner","Eren","Annie","Mikasa"}
new1 = set1.union(set2)
print(new1)

# multiple sets
new2 = set1.union(set2,set3)
print(new2)

# Union using  | operator
new3 = set1 | set3
print(new3)

# Multiple sets using | operator
new4= set1|set3|set2
print(new4)

# joining sets elements with different iterables.
new5=set1.union(list(["jjk","opm"]))
print(new5)

{'Hinata', 'Mikasa', 'Naruto', 'One Piece', 'Bleach', 'Kira', 'Eren'}
{'Mikasa', 'Eren', 'Hinata', 'Reiner', 'Attack on titan', 'Annie', 'Naruto', 'One Piece', 'Levi', 'Bleach', 'Kira'}
{'Mikasa', 'Eren', 'Hinata', 'Reiner', 'Attack on titan', 'Annie', 'Naruto', 'Levi', 'Kira'}
{'Mikasa', 'Eren', 'Hinata', 'Reiner', 'Attack on titan', 'Annie', 'Naruto', 'One Piece', 'Levi', 'Bleach', 'Kira'}
{'Hinata', 'Mikasa', 'Naruto', 'opm', 'jjk', 'Kira', 'Eren'}

In [98]:
# update()
set1 = {"Eren", "Mikasa", "Hinata", "Naruto", "Kira"}
set2 = {"Bleach", "One Piece", "Naruto"}
set3 = {"Attack on titan","Levi","Reiner","Eren","Annie","Mikasa"}
set1.update(set2)
print(set1)

{'Hinata', 'Mikasa', 'Naruto', 'One Piece', 'Bleach', 'Kira', 'Eren'}

In [99]:
# intesection() 
set1 = {"Eren", "Mikasa", "Hinata", "Naruto", "Kira"}
set2 = {"Bleach", "One Piece", "Naruto"}
set3 = {"Attack on titan","Levi","Reiner","Eren","Annie","Mikasa"}

new1 = set1.intersection(set3)
print(new1)

# intersection_update()
set1.intersection_update(set2)
print(set1)

# using & operator
new2 = set1 & set2
print(new2)

{'Mikasa', 'Eren'}
{'Naruto'}
{'Naruto'}

In [100]:
# difference()
set1 = {"Eren", "Mikasa", "Hinata", "Naruto", "Kira"}
set2 = {"Bleach", "One Piece", "Naruto"}
set3 = {"Attack on titan","Levi","Reiner","Eren","Annie","Mikasa"}

new = set1.difference(set2)
print(new)

# using difference_update()
set1.difference_update(set3)
print(set1)

# using - operator
new = set1 -set2
print(new)

{'Hinata', 'Mikasa', 'Kira', 'Eren'}
{'Hinata', 'Naruto', 'Kira'}
{'Hinata', 'Kira'}

In [101]:
# using symmetric_difference()
set1 = {"Eren", "Mikasa", "Hinata", "Naruto", "Kira"}
set2 = {"Bleach", "One Piece", "Naruto"}
set3 = {"Attack on titan","Levi","Reiner","Eren","Annie","Mikasa"}

new = set1.symmetric_difference(set2)
print(new)

# using symmetric_difference_update()
set2.symmetric_difference_update(set1)
print(set2)

# using ^ operator
new = set2^set3
print(new)

{'Mikasa', 'Eren', 'Hinata', 'One Piece', 'Bleach', 'Kira'}
{'Mikasa', 'Eren', 'Hinata', 'One Piece', 'Bleach', 'Kira'}
{'Reiner', 'Hinata', 'Attack on titan', 'Annie', 'One Piece', 'Levi', 'Bleach', 'Kira'}

In [102]:
# checking if disjoint set or not.
set1 = {"Eren", "Mikasa", "Hinata", "Naruto", "Kira"}
set2 = {"Bleach", "One Piece", "Naruto"}
set3 = {"Attack on titan", "Levi", "Reiner", "Eren", "Annie", "Mikasa"}

print(set1.isdisjoint(set2)) # False
print(set2.isdisjoint(set3)) # True

# checking if subset or not.
print(set1.issubset(set3)) # False
set1.discard("Hinata")
set1.discard("Naruto")
set1.discard("Kira")
print(set1.issubset(set3)) # True

# checking if superset of not.
print(set3.issuperset(set1)) # True

set1.add("Kira")

print(set3.issuperset(set1)) # False

False
True
False
True
True
False

# Python Functions
## Number of argumnets
- Arbitrary arguments= def func(*args)  recieves a tuple.
- Arbitrary keyword arguments = def func(**kwargs) recieves a dictionary.
- default argument =  def func(arg=default value)

In [103]:
# arbitrary arguments.

def f(*args):
    if "Uchiha" not in args[0]:
        print("Are u a fool!!!")
    else:
        print(f"{args[0]} = ðŸ’ª")

f("Hashirama","Obito Uchiha")

f("Madara Uchiha","Naruto")

Are u a fool!!!
Madara Uchiha = ðŸ’ª

In [104]:
# arbitrary kwyword arguments.
def f(**kwargs):
    if kwargs["special"] == "Sharingan":
        print(f"{kwargs["name"]} = ðŸ’ª")
    else:
        print("Weak!!!!!!")

f(name="Kakashi",special="Sharingan")
f(name="Shikamaru",special="Intelligence")

Kakashi = ðŸ’ª
Weak!!!!!!

# Positional-only arguments.
To specify that a function can have only postional arguments
        add , / after the arguments

In [105]:
# Postional only arguments.
def fun(x,y,/):
    print(f"{x} and {y}")

fun(123,322)

# fun(y=123,x=322)    will raise TypeError

123 and 322

# Keyword-only arguments.
To specify that a function have only keyword arguments add *, before the arguments.

In [106]:
# Keyword only arguments.
def fun(*,x,y):
    print(f"{y} is good and {x} is bad")

fun(x="Kakashi",y="Obito")

# fun("Kakashi","Obito") will raise TypeError

Obito is good and Kakashi is bad

# Lambda function 
A lambda function is a small annonymous function which can take any number of arguments,

but can only have one expression,

the expression is executed and the result is returned.

- Use lambda functions when an anonymous function is required for a short period of time.

## Syntax

In [107]:
# variable = lambda arg : expression

square = lambda n: n**2

print(square(9))

81